
@{
    ViewBag.Title = "Stamping";
}

<header>

    <div class="row">
        <div class="col-lg-4 col-xs-4">

        </div>

        <div class="col-lg-4 col-xs-4">
            <h3 style="text-align: center;font-size: 19px; font-weight: bold;font-family: Arial Black;margin-top:5px;white-space: nowrap;">Andersson Rapportering</h3>
            <h3 style="text-align: center;font-weight:900;font-size:36px;margin-top: 10px;" class="clock" id="clock"></h3>
        </div>

        <div class="col-lg-4 col-xs-4">
            <a href="#" class="pull-right" id="info_btn">
                <img src="~/Content/img/Info.png" style="width: 30px;height: 32px;margin-top:10px;margin-left: 30px;" />
            </a>
            <text class="pull-right" style="margin-left: 20px; font-weight: bold; padding-top: 8px;">V. 3</text>
            <text class="pull-right" style="font-size: 15px; font-weight: bold; padding-top: 8px;" id="date"></text>
        </div>
    </div>
</header>